/* materialize has width of 70%, set to 100% to fill page */
.container{
    width: 100%;
}

.nav-btn{
    height: 100%;
    background-color: green;
}

#navBar {
    background-color: green;
}
/* removed shadow to seamlessly link two elements */
#searchBar{
    box-shadow: none;
    background-color: green;
}


.btn-submit{
    border-radius: 15px;
    background-color: aqua;
    height: 100%;
}