/* materialize has width of 70%, set to 100% to fill page */
.container{
    width: 100%;
}

.nav-btn{
    height: 100%;
}

/* removed shadow to seamlessly link two elements */
#searchBar{
    box-shadow: none;
}


.btn-submit{
    border-radius: 15px;
    background-color: aqua;
    height: 100%;
}